
header {
    text-align: center;
}

.form-div {
    height: 60vh;
}

form {
    height: 100%;
}

.form-input {
    text-align: center;
}

#title-input {
    height: 10%;
    padding: 10px;
}

input {
    width: 50%;
    height: 80%;
}

#body-input {
    height: 65%;
    padding: 10px;
}

textarea {
    width: 50%;
    height: 100%;
}

#button-input {
    height: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
}

button {
    margin: 0px auto 0px auto;
    display: block;
    cursor: pointer;
}

.page-list {
    margin: 10px;
}

.page-content {
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid black;
    padding: 10px;
}

.page-div {
    margin-bottom: 100px;
}